<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <title>Interests</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="http://troemer.greenriverdev.com/328/dating">Dating Site</a>
        </nav>

        <div class="container">
            <h1>Interests</h1>
            <hr>

            <form action="#" method="post">
                <label class="form-check">In-door Interests</label>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="tv"
                            <check if="{{ !empty(@indoor) && in_array(tv, @indoor) }}">
                                checked
                            </check>>TV
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="movies"
                            <check if="{{ !empty(@indoor) && in_array(movies, @indoor) }}">
                                checked
                            </check>>Movies
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="cooking"
                            <check if="{{ !empty(@indoor) && in_array(cooking, @indoor) }}">
                                checked
                            </check>>Cooking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="board"
                            <check if="{{ !empty(@indoor) && in_array(board, @indoor) }}">
                                checked
                            </check>>Board games
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="puzzles"
                            <check if="{{ !empty(@indoor) && in_array(puzzles, @indoor) }}">
                                checked
                            </check>>Puzzles
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="reading"
                            <check if="{{ !empty(@indoor) && in_array(reading, @indoor) }}">
                                checked
                            </check>>Reading
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="cards"
                            <check if="{{ !empty(@indoor) && in_array(cards, @indoor) }}">
                                checked
                            </check>>Playing card
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="indoor[]" value="video"
                            <check if="{{ !empty(@indoor) && in_array(video, @indoor) }}">
                                checked
                            </check>>Video games
                        </label>
                    </section>
                </div>
                <check if="{{ @errors['indoor'] }}">
                    <p class="text-danger">{{ @errors['indoor'] }}</p>
                </check>



                <label class="form-check">Out-door Interests</label>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="hiking"
                            <check if="{{ !empty(@outdoor) && in_array(hiking, @outdoor) }}">
                                checked
                            </check>>Hiking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="biking"
                            <check if="{{ !empty(@outdoor) && in_array(biking, @outdoor) }}">
                                checked
                            </check>>Biking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="swimming"
                            <check if="{{ !empty(@outdoor) && in_array(swimming, @outdoor) }}">
                                checked
                            </check>>Swimming
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="collecting"
                            <check if="{{ !empty(@outdoor) && in_array(collecting, @outdoor) }}">
                                checked
                            </check>>Collecting
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="walking"
                            <check if="{{ !empty(@outdoor) && in_array(walking, @outdoor) }}">
                                checked
                            </check>>Walking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="outdoor[]" value="climbing"
                            <check if="{{ !empty(@outdoor) && in_array(climbing, @outdoor) }}">
                                checked
                            </check>>Climbing
                        </label>
                    </section>
                </div>
                <check if="{{ @errors['outdoor'] }}">
                    <p class="text-danger">{{ @errors['outdoor'] }}</p>
                </check>

                <div class="row">
                    <div id="btn">
                        <button type="submit" name="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </body>
<html>