<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <title>Interests</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="http://troemer.greenriverdev.com/328/dating">Dating Site</a>
        </nav>

        <div class="container">
            <h1>Interests</h1>
            <hr>

            <form action="#" method="post">
                <label class="form-check">In-door Interests</label>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input">TV
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Movies
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Cooking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Board games
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input">Puzzles
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Reading
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Playing card
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Video games
                        </label>
                    </section>
                </div>



                <label class="form-check">Out-door Interests</label>
                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input">Hiking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Biking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Swimming
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Collecting
                        </label>
                    </section>
                </div>

                <div class="row">
                    <section class="col-3">
                        <label class="form-check-label first">
                            <input type="checkbox" class="form-check-input">Walking
                        </label>
                    </section>
                    <section class="col-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">Climbing
                        </label>
                    </section>
                </div>

                <div class="row">
                    <div id="btn">
                        <button type="submit" name="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </body>
<html>