<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <title>Profile Summary</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="http://troemer.greenriverdev.com/328/dating">Dating Site</a>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <tr>
                            <td>Name: </td>
                        </tr>
                        <tr>
                            <td>Gender: </td>
                        </tr>
                        <tr>
                            <td>Age: </td>
                        </tr>
                        <tr>
                            <td>Phone: </td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                        </tr>
                        <tr>
                            <td>State: </td>
                        </tr>
                        <tr>
                            <td>Seeking: </td>
                        </tr>
                        <tr>
                            <td>Interests: </td>
                        </tr>
                    </table>
                </div>

                <div class="col-6">
                    <img src="images/Summary.PNG" class="img-fluid rounded mx-auto d-block">
                    <h4>Biography</h4>
                    <p id="summaryBio"></p>
                </div>
            </div>

            <div class="row">
                <div id="contact">
                    <button class="btn btn-primary">Contact Me!</button>
                </div>
            </div>
        </div>
    </body>
</html>