nav
{
    background: #e9ecef;
    border-bottom: solid 0.2em #dee2e6;
}

div.container
{
    border: lightgray solid 0.2em;
    padding: 1em;
    padding-right: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 0.5em
}

div.form-check-inline
{
    width: 100%;
}

div#btn
{
    text-align: right;
    width: 100%;
}

div#contact
{
    text-align: center;
    width: 100%;
}

img
{
    width: 100%;
    height: auto;
}

label
{
    font-weight: bold;
    margin-bottom: 0.5%;
}

label.form-check-label
{
    font-weight: normal !important;
    margin-right: 3%;
}

label.first
{
    margin-left: 4em;
}

label#premium
{
    margin-left: 1.25em;
}

h4
{
    font-weight: normal;
}

p#note
{
    margin-top: 1.5em;
    border: solid #dee2e6;
    padding: 0.5em;
    background: #e9ecef;
    border-radius: 0.5em;
}

p#summaryBio
{
    text-align: center;
}